@charset "utf-8";
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: fontepadrao;
}
/*imagens flexiveis*/
img {   
      width: auto;   
      max-height: 100%;  
} 

/*Definição de atributos ao corpo da página HTML*/
body, html{
    font-family: montserrat;
    background:#ffffff;
    color: rgb(0, 0, 0);
    height: 100vh;
    width: 100vw;
}

/*Definição de atributos à Heading Tag 1 de diferenciação de títulos*/
h1{
    font-family: fontepadrao;
    font-style: normal;
    font-weight:50%;
    font-size: 1.4vw;
    text-align: center;
    letter-spacing: 0.09em;

}

/*Definição de atributos à Heading Tag 1 de diferenciação de títulos*/
h2{
    font-family: fontepadrao;
    font-style: normal;
    font-weight: 50%;
    font-size: 0.9vw;
    text-align: center;

    letter-spacing: 0.09em;
    
}

/*Definição de atributos à tag de parágrafo, para indentação dos blocos de texto*/
p{
    text-align: center;
    font-size: 1.5vw;
    font-family: fontepadrao;
}

/*Definição de atributos da tag de listar itens*/
li{
    text-align: center;
    font-size: 1.5vw;
}

/*Definição de atributos à tag de hiperlinks, que faz a mudança de páginas*/
a {
    color: white;
    font-size: 13px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    }

/*Definição da fonte padrão utilizada no site, através de uma fonte baixada*/
@font-face {
    font-family: fontepadrao;
    src: url(../Fontes/Fontes/Primária/Averta.woff);
}

/*Classe utilizada em alguns textos da página para definir a cor do link*/
.corFonte{
    color:#04844B
}

/*Cor que o link passa a ser quando o mouse passa em cima*/
a:hover{
    color: orange;
    transition: 0.5s;
}

/************DIVISÃO DE AREAS DA PÁGINA *************/
#principal{
    width:100%;
	/* Alinha ao centro */
	margin:0 auto;
	background:rgb(255, 255, 255);
	overflow:hidden;
    height: 100%;
}

#meio{
    width: 100%;
    height: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


#baixo{
    width:  100%;
    height: 50%;
    background-color: #046b3d57;
    display: flex;
    flex-direction: row;
    margin:auto;
    align-content: center;
    padding-bottom: 2%;
}

/*Atributos para manter o itens quadrados de forma padrão*/
.quadrado{
    width: 50%;
    
    height: 80%;
    color: #04844B;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    padding: 2vw;

    background: #FFFFFF;
    box-shadow: 0px 4px 13px 1px rgba(0, 0, 0, 0.15);
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*Definição de tamanho e borda de imagem*/
.fotoCircular{
    border-radius: 50%;
    width: auto;
    height: 60%;
}

/*Definição de atributos para o botão da sidebar*/
.checkBtn{
    font-size: 50px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

/*Atributos modificados, especificos para telas de até 858px*/
@media screen and (max-width: 858px) {
    body, html{
        background:#ffffff;
        color: rgb(0, 0, 0);
        height: 100%;
        width: 100%;
    }
}
/*Atributos modificados, especificos para telas de até 720px*/
@media screen and (max-width: 720px) {
    body, html{
        background:#ffffff;
        color: rgb(0, 0, 0);
        height: 130%;
        width: 100%;
    }
    h1{
        font-size: 3.5vw;
    }
    h2{
        font-size: 1.5vw;
    }
    p{
        font-size: 3vw;
    }
    
    li{
        font-size: 3vw;
    }

    #meio{
        height: 35%;
    }
    
    
    #baixo{
        height: 58%;
        flex-direction: column;
    }

    .quadrado{
        margin-left: 25%;
        margin-right: 25%;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .fotoCircular{
        height: 50%;
    }
}

/*Atributos modificados, especificos para telas de até 400px*/
@media (max-width: 400px) {

    section .grid {
        height: 20vh;
        width: 20vw;
    }

    a:hover{
        color: orange;
        transition: 0.5s;
    }

    .texto .file {
        display: none;
    }
}